@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-4 m-auto shadow-sm p-3 rounded-2 bg-white">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="alert alert-success" role="alert">
                    Your email <strong>@Model.Email</strong> is verified.
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label for="email" class="form-label">Current Email:</label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-primary">Send Verification Email</button>
                </div>
            }

            <div class="mb-3">
                <label for="new-email" class="form-label">New Email:</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
