@using Microsoft.AspNetCore.Identity
@using PocMvcNet8App.Data
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
    <h2>I am logged in.</h2>
}
else
{
    <h2>I am not logged in. Login now.</h2>
}
