html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.round-small-image {
    border-radius: 50%;
    width: 50px; /* Set the initial width */
    height: 50px; /* Set the initial height */
    object-fit: cover; /* Maintain aspect ratio */
}

/* Media query for responsiveness */
@media (min-width: 768px) {
    .round-small-image {
        width: 100px; /* Adjust width for larger screens */
        height: 100px; /* Adjust height for larger screens */
    }
}